.body
{
background-color:#006699;
font-family:calibri;
font-size:100%;
color:white;
}
.form
{
margin:30% auto;
width:100%;
height:auto;
background-color:black;
border-radius:5px;
/*-ms-behavior:url('PIE.htc');<!--Edit this part based on info found on css3pie.com documentation for rendering webpages on IE using css3-->
background-color:rgba(255,255,255,0.5);
border-top-right-radius:15px;
border-bottom-left-radius:15px;
}
h1
{
margin-left:0%;*/
}
button
{
height:5%;
width:100%;
border:solid 1px white;
border-radius:2px;
background-color:#006699;
color:white;
font-family:calibri;
font-size:100%;
font-weight:bold;
}
input[name="name"]
{
width:50%;
height:5%;
border:none;
}
:-ms-input-placeholder
{
font-size:110%;
color:#006699;
padding-left:5px;
}
/*############  Optimizing for mobile  ###############*/
@media screen only and (min-width:100px) and (max-width:600px)
{
.form
{
width:100%;
}
h1
{
margin-left:0;
}
button
{
margin-left:0;
width:100%;
}
input[name="name"]
{
margin-left:0;
width:100%;
}
}
/*############  End of optimization  ###############*/